html
	head
		style(type="text/css").
			.button {
			 display: inline-block;
			 padding: 15px 25px 15px 25px;
			 font-size: 24px;
			 cursor: pointer;
			 text-align: center;
			 text-decoration: none;
			 outline: none;
			 color: #fff;
			 background-color: #4CAF50;
			 border: none;
			 border-radius: 15px;
			 box-shadow: 0 9px #999;
			 height: 100px;
			 width: 300px;
			}

			.button:hover {background-color: #3e8e41}

			.button:active {
			  background-color: #3e8e41;
			  box-shadow: 0 5px #666;
			  transform: translateY(4px);
			}

		block head
	body
		<div style="height:150 ;background-color: #e7e7e7">
		<button class="button" style="vertical-align:middle"><span>Go Back To Browse </span></button>
		</div>

		block body
