html
	head
		<h1> Your Video </h1>
		block head
	body
		<div style="height:150 ;background-color: #e7e7e7">
		<a href="#{buttonsource}" class="button" style="vertical-align:middle">Go Back To Browse </a>
		</div>

		block body
