
<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="thumb">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
          <img src={{element.thumb}} alt={{element.description}} style="width:250px;height:300px;">
          <h4>{{element.title}} {{element.year}}</h4>
          <h5>{{element.duration}} minutes</h5>
          <h6>{{element.rating}}</h6>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['movie-details',row._id]"></tr>
  </table>
</div>
